<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Twitter word-cloud</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

    <style>
        #tabla{
            border-width: 5px;
            border-color: #181818;
            margin-left: auto;
            margin-right: auto;
            width: 80vw;
            color: #181818;
        }

        th, td, tr{
            
            border-color: #181818;
            text-align: center;
        }
        th{
            background-color: #b9b1b1;
        }
        td, tr{
            background-color: #cecece;
        }
        /* PC */
        @media screen and (min-width: 601px) {
            #head1 {
                font-size: 8vh;
            }

            #newCloudForm {
                font-size: 5vh;
            }

            #inputHole {
                font-size: 4vh;
                width: 25vh;
                height: 6vh;
            }

            #submitButton {
                font-size: 5vh;
                width: 27vh;
                height: 7vh;
            }

            #github {
                font-size: 3vh;
            }
        }

        /* mobile */
        @media screen and (max-width: 900px) {
            .head1 {
                font-size: 10vw;
            }

            #newCloudForm {
                font-size: 5vw;
            }

            #inputHole,
            #submitButton {
                font-size: 4vw;
                width: 28vw;
                height: 6vw;
            }

            #submitButton {
                font-size: 5vw;
                width: 31vw;
                height: 8vw;
            }

            #github {
                font-size: 3vw;
            }
        }

        body {
            font-family: 'Roboto Condensed', sans-serif;
            background-color: #181818;
            color: #cecece;
        }

        #chartdiv {
            width: 100%;
            height: 65vh;
            margin: 0;
        }

        .head1 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 16vh;
            padding: 0;
            margin: 0;
            text-align: center;
        }

        #newCloudForm {
            width: 100%;
            height: 12vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
        }

        #inputHole {
            border-width: 5px;
            margin: 0;
            font-family: 'Roboto Condensed', sans-serif;
        }

        #submitButton {
            margin-left: 5px;
            font-family: 'Roboto Condensed', sans-serif;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 0;
        }

        #github {
            height: 4vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;

        }
    </style>

</head>

<body>
    <div>
        <h1 class='head1'> Loading... </h1>
    </div>

    <form id="newCloudForm">
        Try someone else's Twitter handle:<br>
        <input id="inputHole" type="text" name="handle" style="color: antiquewhite !important;">
        <br>
        <input id="submitButton" type="submit" value="Submit">
    </form>
    
    <div id="chartdiv"></div>
    
    <div>
        <h1 class="head1">Loading...</h1>
    </div>
    <div>
        <table id="tabla">
            <tr>
              <th>Tweet</th>
              <th>Sentiment analysis (0 is neutral, larger is more positive)</th>
              
            </tr>
            
          </table>
    </div>

    

    <div id="github">
        <p><a
                href="https://github.com/AdityaKotari/twitter-wordcloud">https://github.com/AdityaKotari/twitter-wordcloud</a>
        </p>
    </div>

</body>

<script src="//cdn.amcharts.com/lib/4/core.js"></script>
<script src="//cdn.amcharts.com/lib/4/charts.js"></script>
<script src="//cdn.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>

<script>
    //-------------- funcs ------------------------ 
    async function getWordsFromProfile(handle) {

        url = '/rest/parsed/freq/' + handle;

        const response = await fetch(url);
        var words = await response.json();
        if(words==null||words.length==0){
            alert('No words found. The given account may not exist or have any public tweets.');
        }
        document.getElementsByClassName("head1")[0].innerHTML = handle + "'s word-cloud";
        return words;
    }

    async function generateContent(handle) {
        var parsedData = await getWordsFromProfile(handle);
        var wordlist=parsedData.words;
      
        if(screen.width<800&&wordlist.length>131){
            wordlist=wordlist.slice(0, 100);
        }
        
        //am word cloud stuff
        am4core.useTheme(am4themes_animated);
        var chart = am4core.create("chartdiv", am4plugins_wordCloud.WordCloud);
        var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
        series.data =wordlist;
        series.dataFields.word = "word";
        chart.fontFamily = "Roboto Condensed";
        series.dataFields.value = "count";
        series.heatRules.push({
            "target": series.labels.template,
            "property": "fill",
            "min": am4core.color("#3c00c9"),
            "max": am4core.color("#6800c9"),
            "dataField": "value"
        });
        series.labels.template.tooltipText = "{word}:\n[bold]{value}[/]";
        series.accuracy=4;
    }

    function sendAway(event) {
        event.preventDefault();

        //document.getElementsByClass("head1")[1].innerHTML = "Sentiment analysis";

        url = "/" + form["handle"].value;
        window.location.replace(url);

        return false;
    }

        

    const generateAnalysis = async (profile) => {
        const url = '/rest/parsed/sentiment/'+profile;
        
        fetch(url).then((stuff) =>{
            return stuff.json() 
        }).then( (stuff) => {
            console.log(stuff)
            stuff.forEach(element => {
                document.getElementById('tabla').innerHTML+=
                "<tr><td>"+element.tweet+"</td><td>"+element.sentiment+"</td></tr>" 
            });
            document.getElementsByClassName('head1')[1].innerHTML=stuff.length+ " most recent tweets"
            
        })
        
    }



    //----------- control flow ----------------------
    var pf = "<%=profile%>";
    generateContent(pf);

    generateAnalysis(pf);

    var form = document.getElementById('newCloudForm');
    form.addEventListener('submit', sendAway);

</script>

</html>