@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Montserrat&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.hellotext {
    color: black;
    font-family: Montserrat, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
}
.hello-input-text {
    color: black;
    font-family: "Roboto Slab", serif;
}
.username {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}
.hello-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.stats-headings {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    margin: 15px;
    font-size: 1.5em;
}
.friend-position,
.friend-text {
    font-family: "Raleway", sans-serif;
}
.github-link {
    font-family: Montserrat, sans-serif;
    margin: 35px;
}
.error-alert {
    font-family: "Raleway", sans-serif;
}
.quoted-tweets {
    font-family: "Permanent Marker", cursive;
    color: black;
}
.positive {
    color: #58b09c;
}
.toxic {
    color: #d81e5b;
}
.short-line {
    max-width: 50%;
}
.back {
    font-family: Montserrat, sans-serif;
}
@media screen and (min-width: 960px) {
    .one {
        padding-top: 150px;
        font-weight: 400;
        font-size: 100px;
    }

    .two {
        font-weight: 100;
        font-size: 70px;
        padding-bottom: 150px;
    }
    .hello-input-text {
        font-size: 25px;
    }
    .username {
        font-size: 75px;
        margin: 75px;
    }
    .error-alert {
        font-size: 30px;
    }
    .quoted-tweets {
        font-size: 3em;
    }
    .back {
        font-size: 2em;
        line-height: 3em;
    }
}
@media screen and (max-width: 960px) {
    .one {
        font-weight: 200;
        font-size: 2em;
        padding-top: 150px;
    }

    .two {
        font-weight: 200;
        font-size: 1.35em;
        padding-bottom: 75px;
    }
    .hello-input-text {
        font-size: 1em;
    }
    .username {
        font-size: 30px;
        margin: 30px;
    }
    .quoted-tweets {
        font-size: 1.5em;
    }
    .back {
        font-size: 1.7em;
        line-height: 2.3em;
    }
}
