@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

.hellotext {
    color: black;
    font-family: Montserrat, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
}
.hello-input-text{
    color: black;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: auto;
}
.username{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}
@media screen and (min-width: 960px) {
    .one {
        padding-top: 150px;
        font-weight: 300;
        font-size: 100px;
    }

    .two {
        font-weight: 200;
        font-size: 60px;
        padding-bottom: 150px;
    }
    .hello-input-text{
        font-size: 25px;
    }
    .username{
        font-size: 75px;
    }
}
@media screen and (max-width: 960px) {
    .one {
        font-weight: 200;
        font-size: 2em;
        padding-top: 150px;
    }

    .two {
        font-weight: 200;
        font-size: 1.2em;
        padding-bottom: 50px;
    }
    .hello-input-text{
        font-size: 1em;
    }
    .username{
        font-size: 40px;
    }
}
